@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: auto !important;
}

@layer utilities {
  .text-mask-video {
    mix-blend-mode: screen;
    background-color: white;
    color: black;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
}

::selection {
  background: #D32F2F;
  color: #1A1A1A;
}

.custom-cursor {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: difference;
}

.custom-cursor-element {
  z-index: 9999 !important;
  pointer-events: none;
}

nav, button, a, .cart-sidebar {
  cursor: pointer !important;
}